@font-face {
  font-family: National;
  src: url(../fonts/National/National-Light.woff2),
       url(../fonts/National/National-Light.woff);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: National;
  src: url(../fonts/National/National-LightItalic.woff2),
       url(../fonts/National/National-LightItalic.woff);
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: National;
  src: url(../fonts/National/National-Regular.woff2),
       url(../fonts/National/National-Regular.woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: National;
  src: url(../fonts/National/National-Bold.woff2),
       url(../fonts/National/National-Bold.woff);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/RobotoRegular/RobotoRegular.woff);
  font-weight: 400;
  font-style: normal;
}