// fonts
$ff-main: "National", sans-serif;
$ff-player: "Roboto", sans-serif;

$fsz-main: 16px;
$fsz-h1: 48px;
$fsz-h2: 22px;

// colors
$c-main: #272727;
$c-main-06: rgba(39, 39, 39, 0.6);
$c-main-03: rgba(39, 39, 39, 0.3);
$c-secondary: #E9575A;

$c-link-hover: #F0EEEC;
$c-placeholder: rgba(39, 39, 39, 0.5); 

$bc-header: #FFFEFC;
$bc-footer: #FCF8F3;

$bc-button: #FEF4F2;
$bc-button-hover: #FCEAE8;
$bc-btn-red-hover: #DC4043;
$bc-popup: rgba(39, 39, 39, 0.8);

// screen size
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xsm: 400px;